@import '../../scss/helpers/variables';
@import '../../scss/helpers/mixins';

.article {
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: solid 1px $gray-lighter;
    padding-top: 20px;
  }

  h3 {
    font-weight: $font-bold;
  }

  h4 {
    margin-top: $spacer-lg;
    margin-bottom: $spacer-lg;
  }

  p {
    margin-bottom: 20px;
  }

  li {
    list-style: disc;
    margin-left: 40px;

    li {
      list-style: circle;
    }

    &,
    p {
      margin-bottom: 10px;
    }
  }
}

.title {
  margin-bottom: 20px;
}
