@import '../../scss/helpers/variables';
@import '../../scss/helpers/mixins';

$tablet-height: 80px;
$transparent-black: rgba(0, 0, 0, 0.1);

.nav {
  display: flex;
}

.link {
  border: solid 1px $transparent-black;
  border-radius: 5px;
  transition: all $transition-speed-normal ease-in-out;
  padding: $spacer-md;
  background-color: $white;

  @include media-tablet {
    padding: $spacer-lg;
  }

  &:hover {
    background-color: $gray-dark;
    color: $white;
  }

  &,
  &:hover {
    text-decoration: none;
  }
}

.horizontal-nav {
  justify-content: space-around;
  margin-top: $spacer-lg;
  margin-bottom: $spacer-lg;
}

.vertical-nav {
  @include container;

  align-items: center;
  height: calc(100% - #{$vertical-nav-height});

  .chevron {
    transform: scale(0.75);

    :not(:hover) & {
      color: $transparent-black;
    }
  }
}

.vertical-nav-links {
  flex: 1;
  padding: 0 $spacer-lg;

  .link {
    display: flex;
    align-items: center;
    font-size: $font-xxl;
    margin-bottom: $spacer-lg;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;

    &:last-child {
      margin-bottom: 0;
    }

    > svg:first-child {
      margin-right: $spacer-xl;
      min-width: 26px;

      @include media-tablet {
        min-width: 64px;
      }
    }

    > span {
      flex: 1;
    }
  }
}

.scattered-nav {
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: $font-xxl;

    > :first-child {
      flex: 1;
    }
  }

  /* About */
  .link:nth-child(1) {
    transform: translate3d(-160%, -150%, 0);
    height: 25vh;
    width: 18vw;
  }

  /* Github */
  .link:nth-child(2) {
    transform: translate3d(0%, -150%, 0);
    height: 23vh;
    width: 22vw;
  }

  /* LinkedIn */
  .link:nth-child(3) {
    transform: translate3d(-185%, 0%, 0);
    height: 28vh;
    width: 20vw;
  }

  /* Recipes */
  .link:nth-child(4) {
    transform: translate3d(110%, -10%, 0);
    height: 42vh;
    width: 16vw;
  }

  /* Music */
  .link:nth-child(5) {
    transform: translate3d(-52%, -40%, 0);
    height: 18vh;
    width: 28vw;
  }
}
