@import '../../scss/helpers/variables';
@import '../../scss/helpers/mixins';

.logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: $black;
  height: $vertical-nav-height;
  align-items: center;
}

.logo-text {
  margin-bottom: 0;
}
